<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Pattern -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(%5level) [%15.15t] [%X{request_id}] %clr(%-40.40logger{39}){cyan} : %m%n%wEx"/>
    <!-- Request Thread Console Appender -->
    <appender name="THREAD_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <included>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>${CONSOLE_LOG_CHARSET}</charset>
            </encoder>
        </appender>
    </included>

    <springProfile name="dev">
        <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>10000</queueSize>
            <maxFlushTime>0</maxFlushTime>
            <appender-ref ref="STDOUT"/>
        </appender>
        <root level="INFO">
            <appender-ref ref="ASYNC_STDOUT"/>
        </root>
        <logger additivity="false" level="INFO" name="com.hhplus">
            <appender-ref ref="THREAD_CONSOLE"/>
        </logger>

<!--        &lt;!&ndash; Bootstrap class file &ndash;&gt;-->
<!--        <logger additivity="false" level="INFO" name="com.hhplus.HhplusApplicationKt">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--        </logger>-->

<!--        <root level="INFO">-->
<!--            <appender-ref ref="CONSOLE"/>-->
<!--        </root>-->
    </springProfile>
</configuration>